.idea/
*.iml

node_modules/
backend/config/config.js
backend/mobile/plugins/*
!backend/mobile/plugins/core-plugin
storage/
!backend/mobile/plugins/digital-signage-plugin
backend/mobile/upload/
config/
dist/
playground
webpack
