<meta charset="UTF-8" class="ng-scope">
<meta name="viewport" content="width=device-width, initial-scale=1" class="ng-scope">
<base href="/" class="ng-scope">
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" class="ng-scope">
<div class="container ng-scope">
    <div cms-container="buttons" cms-container-types="Layout,PageLayout" style="width:600px" class="ng-isolate-scope">
        <!-- ngRepeat: element in elements -->
        <div ng-repeat="element in elements" cms-element="element" class="ng-scope ng-isolate-scope">
            <div class="ng-scope">
                <!-- ngIf: model.tab && model.tab.length > 0 -->
                <div ng-if="model.tab &amp;&amp; model.tab.length > 0" class="ng-scope ng-isolate-scope">
                    <ul class="nav nav-tabs" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}"
                        ng-transclude="">
                        <!-- ngRepeat: tab in model.tab track by $index -->
                        <li ng-class="[{active: active, disabled: disabled}, classes]"
                            class="uib-tab nav-item ng-scope ng-isolate-scope active"
                            ng-repeat="tab in model.tab track by $index" heading="Employee" active="tab.active">
                            <a href="" ng-click="select()" class="nav-link ng-binding" uib-tab-heading-transclude="">Employee</a>
                        </li><!-- end ngRepeat: tab in model.tab track by $index -->
                        <li ng-class="[{active: active, disabled: disabled}, classes]"
                            class="uib-tab nav-item ng-scope ng-isolate-scope"
                            ng-repeat="tab in model.tab track by $index" heading="Shift" active="tab.active">
                            <a href="" ng-click="select()" class="nav-link ng-binding" uib-tab-heading-transclude="">Shift</a>
                        </li><!-- end ngRepeat: tab in model.tab track by $index -->
                        <li ng-class="[{active: active, disabled: disabled}, classes]"
                            class="uib-tab nav-item ng-scope ng-isolate-scope"
                            ng-repeat="tab in model.tab track by $index" heading="Result" active="tab.active">
                            <a href="" ng-click="select()" class="nav-link ng-binding" uib-tab-heading-transclude="">Result</a>
                        </li><!-- end ngRepeat: tab in model.tab track by $index -->
                    </ul>
                    <div class="tab-content">
                        <!-- ngRepeat: tab in tabset.tabs -->
                        <div class="tab-pane ng-scope active" ng-repeat="tab in tabset.tabs"
                             ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab">

                            <div cms-container="tab_0" cms-container-types="Layout"
                                 style="padding-top: 10px;padding-bottom: 10px;" class="ng-scope ng-isolate-scope">
                                <!-- ngRepeat: element in elements -->
                                <div ng-repeat="element in elements" cms-element="element"
                                     class="ng-scope ng-isolate-scope">
                                    <!-- ngRepeat: layout in model.layout track by $index -->
                                    <div ng-repeat="layout in model.layout track by $index" class="ng-scope">
                                        <!-- ngIf: layout.choice === 'gridBS' -->
                                        <div ng-if="layout.choice === 'gridBS'" class="ng-scope">
                                            <!-- ngRepeat: cols in layout.gridBS.cols track by $index -->
                                            <div ng-repeat="cols in layout.gridBS.cols track by $index"
                                                 class="row ng-scope">
                                                <!-- ngRepeat: col in cols.col track by $index -->
                                                <div ng-repeat="col in cols.col track by $index"
                                                     style="margin-bottom:5px;" class="col-xs-12">
                                                    <div class="cms-layout ng-isolate-scope"
                                                         cms-container="&quot;56e86eeaad23639f50360cda&quot;-0"
                                                         cms-inline=""
                                                         cms-container-types="Button,Employee,Wrapper,Food,Label">
                                                        <!-- ngRepeat: element in elements --></div>
                                                </div><!-- end ngRepeat: col in cols.col track by $index -->
                                            </div><!-- end ngRepeat: cols in layout.gridBS.cols track by $index -->
                                        </div><!-- end ngIf: layout.choice === 'gridBS' -->
                                    </div><!-- end ngRepeat: layout in model.layout track by $index -->
                                </div><!-- end ngRepeat: element in elements --></div>
                        </div><!-- end ngRepeat: tab in tabset.tabs -->
                        <div class="tab-pane ng-scope" ng-repeat="tab in tabset.tabs"
                             ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab">

                            <div cms-container="tab_1" cms-container-types="Layout"
                                 style="padding-top: 10px;padding-bottom: 10px;" class="ng-scope ng-isolate-scope">
                                <!-- ngRepeat: element in elements -->
                                <div ng-repeat="element in elements" cms-element="element"
                                     class="ng-scope ng-isolate-scope">
                                    <!-- ngRepeat: layout in model.layout track by $index -->
                                    <div ng-repeat="layout in model.layout track by $index" class="ng-scope">
                                        <!-- ngIf: layout.choice === 'gridBS' -->
                                        <div ng-if="layout.choice === 'gridBS'" class="ng-scope">
                                            <!-- ngRepeat: cols in layout.gridBS.cols track by $index -->
                                            <div ng-repeat="cols in layout.gridBS.cols track by $index"
                                                 class="row ng-scope">
                                                <!-- ngRepeat: col in cols.col track by $index -->
                                                <div ng-repeat="col in cols.col track by $index"
                                                     style="margin-bottom:5px;" class="col-xs-12">
                                                    <div class="cms-layout ng-isolate-scope"
                                                         cms-container="&quot;56e98100ee4154fa740198ed&quot;-0"
                                                         cms-inline="" cms-container-types="Wrapper,Shift">
                                                        <!-- ngRepeat: element in elements --></div>
                                                </div><!-- end ngRepeat: col in cols.col track by $index -->
                                            </div><!-- end ngRepeat: cols in layout.gridBS.cols track by $index -->
                                        </div><!-- end ngIf: layout.choice === 'gridBS' -->
                                    </div><!-- end ngRepeat: layout in model.layout track by $index -->
                                </div><!-- end ngRepeat: element in elements --></div>
                        </div><!-- end ngRepeat: tab in tabset.tabs -->
                        <div class="tab-pane ng-scope" ng-repeat="tab in tabset.tabs"
                             ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab">

                            <div cms-container="tab_2" cms-container-types="Layout"
                                 style="padding-top: 10px;padding-bottom: 10px;" class="ng-scope ng-isolate-scope">
                                <!-- ngRepeat: element in elements -->
                                <div ng-repeat="element in elements" cms-element="element"
                                     class="ng-scope ng-isolate-scope">
                                    <!-- ngRepeat: layout in model.layout track by $index -->
                                    <div ng-repeat="layout in model.layout track by $index" class="ng-scope">
                                        <!-- ngIf: layout.choice === 'gridBS' -->
                                        <div ng-if="layout.choice === 'gridBS'" class="ng-scope">
                                            <!-- ngRepeat: cols in layout.gridBS.cols track by $index -->
                                            <div ng-repeat="cols in layout.gridBS.cols track by $index"
                                                 class="row ng-scope">
                                                <!-- ngRepeat: col in cols.col track by $index -->
                                                <div ng-repeat="col in cols.col track by $index"
                                                     style="margin-bottom:5px;" class="col-xs-12">
                                                    <div class="cms-layout ng-isolate-scope"
                                                         cms-container="&quot;56ea76bc01e9da780add12a9&quot;-0"
                                                         cms-inline="" cms-container-types="Wrapper">
                                                        <!-- ngRepeat: element in elements --></div>
                                                </div><!-- end ngRepeat: col in cols.col track by $index -->
                                            </div><!-- end ngRepeat: cols in layout.gridBS.cols track by $index -->
                                        </div><!-- end ngIf: layout.choice === 'gridBS' -->
                                    </div><!-- end ngRepeat: layout in model.layout track by $index -->
                                </div><!-- end ngRepeat: element in elements --></div>
                        </div><!-- end ngRepeat: tab in tabset.tabs -->
                    </div>
                </div><!-- end ngIf: model.tab && model.tab.length > 0 -->
                <!-- ngIf: !model.tab || model.tab.length === 0 -->
            </div>
        </div><!-- end ngRepeat: element in elements --></div>
</div>