<div class="cms-wrapper animated fadeInRight cms-sidebar">
    <button type="button" class="btn btn-sm btn-white cms-close-position"
            ng-click="cancel()">
        <i class="fa fa-times"></i>
    </button>

    <div class="col-xs-6 col-sm-4 pull-right cms-controll-panel-right">
        <div ng-show="node">
            <h4>Information: </h4>
            <h5 style="word-break: break-all;">Name: {{node.text}}</h5>
            <h5 style="word-break: break-all;">Type: {{node.type}}</h5>
            <h5 style="word-break: break-all;">Path: {{node.path}}</h5>
            <br>

            <div class="btn-group">
                <button class="btn btn-xs btn-white cms-btn-bottom"
                        ng-click="open()">
                    Open page
                </button>
                <button class="btn btn-xs btn-white cms-btn-bottom"
                        ng-click="deletePage()">
                    Delete
                </button>
            </div>
            <form role="form" ng-submit="makeTemplate(templateName);templateName = '';">
                <button class="btn btn-xs btn-white cms-btn-bottom"
                        type="submit" style="position: absolute;right: 15px;"
                        ng-disabled="!templateName">
                    Make template page
                </button>
                <input ng-model="templateName" type="text" class="form-control input-xs" placeholder="template name">
            </form>
            <form role="form" ng-submit="createPage(template.selected, pageName);pageName = '';">
                <ui-select class="cms-select" ng-model="template.selected" theme="bootstrap" ng-disabled="disabled"
                           style="min-width: 60px;">
                    <ui-select-match placeholder="Select a template page">{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="_template in templates">
                        {{_template}}
                    </ui-select-choices>
                </ui-select>
                <button class="btn btn-xs btn-white cms-btn-bottom"
                        type="submit" style="position: absolute;right: 15px;"
                        ng-disabled="!pageName || !template.selected">
                    Create new page
                </button>
                <input ng-model="pageName" type="text" class="form-control input-xs" placeholder="page name">
            </form>

            <form role="form" ng-submit="renamePage(newPageName);newPageName = '';">
                <button class="btn btn-xs btn-white cms-btn-bottom"
                        type="submit" style="position: absolute;right: 15px;"
                        ng-disabled="!newPageName">
                    Rename
                </button>
                <input ng-model="newPageName" type="text" class="form-control input-xs" placeholder="page name">
            </form>

            <form role="form" ng-submit="onFileSelect(files);">
                <button class="btn btn-xs btn-white cms-btn-bottom"
                        type="submit" style="position: absolute;right: 15px;">
                    Up
                </button>
                <input type="file" ngf-select ng-model="files"
                       ngf-multiple="true" name="file" class="form-control input-xs"
                       placeholder="file upload">
            </form>

        </div>
    </div>

    <h2>Sitemaps:</h2>

    <div js-tree="treeConfig" ng-model="tree"
         tree-events="changed:selectNode"></div>
</div>
