<div class="cms-wrapper cms"
     ng-init="_showId = false;">

    <div style="position: absolute;right: 10px;">
        <button class="btn btn-xs btn-white"
                ng-click="_showId=!_showId;"
                ng-bind="_showId?'hide id':'show id'">
        </button>
        <button type="button" class="btn btn-xs btn-white" ng-bind="vm.fullScreenText"
                ng-click="vm.changeScreenSize();"></button>
    </div>

    <h3 style="font-weight: 300;">Edit {{vm.cmsType}} {{_showId?'('+vm.cmsModel._id+')':''}}:</h3>

    <form ng-submit="vm.onSubmit()"
          novalidate
          class="cms-form form-horizontal">

        <uib-tabset ng-if="vm.isTab">
            <uib-tab ng-repeat="tab in vm.cmsFields"
                     heading="{{tab.title}}"
                     active="tab.active">
                <br>
                <formly-form model="vm.cmsModel" fields="tab.fields"
                             form="vm.form" options="vm.options">
                </formly-form>
            </uib-tab>
        </uib-tabset>

        <div>
            <br>
            <formly-form model="vm.cmsModel" fields="vm.cmsFields"
                         form="vm.form" options="vm.options" ng-if="!vm.isTab">
            </formly-form>
        </div>

        <div class="form-group" style="margin-top: 25px;">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary submit-button" ng-disabled="vm.form.$invalid">{{'Submit' | translate}}</button>
                <button type="button" class="btn btn-primary" ng-click="vm.onApply()">{{'Apply' | translate}}</button>
                <button type="button" class="btn btn-primary" ng-click="vm.onAdd()">{{'Save and add' | translate}}</button>
                <button type="button" class="btn btn-primary" ng-click="vm.onCancel()">{{'Cancel' | translate}}</button>

                <button type="button" class="cms-btn btn-outline btn btn-danger pull-right" ng-click="vm.onDelete()">Delete</button>

            </div>
        </div>
    </form>
</div>