<div ng-if="vm.showJson()">
    <div style="position: absolute;" ng-init="vm._show = false;">
        <button popover-placement="bottom"
                popover-is-open="vm.isOpen"
                uib-popover-template="'editable-formly.html'"
                class="btn btn-white btn-xs">
            edit
        </button>
    </div>
</div>
<span popover-placement="bottom"
      popover-is-open="vm.isOpen"
      uib-popover-template="'editable-formly.html'"
      style="cursor: pointer"
      ng-if="!vm.showJson()">
    {{vm.cmsValue?vm.cmsValue:'______'}}
</span>