<div ng-if="vm.showJson()">
    <button style="width: 60px"
            popover-placement="bottom"
            popover-is-open="vm.isOpen"
            uib-popover-template="'editable-formly.html'"
            class="btn btn-white btn-xs">
        edit
    </button>
</div>
<span popover-placement="bottom"
      popover-is-open="vm.isOpen"
      uib-popover-template="'editable-formly.html'"
      style="cursor: pointer"
      ng-if="!vm.showJson()">
    {{!vm.isValueUndefined? vm.value: '______'}}
</span>