div
  h3(style="font-weight:200;") Here is a cat, whose name is&nbsp;
    span(cms-editable= 'model.name')
    div(ng-if="model.friend && model.friend.name")
      span ,whose friend is&nbsp;
      span(cms-editable="model.friend.name")
      // span(ng-bind="fn.customName()")
      span(ng-bind="'('+serverFn.friendName() + ',' +fn.customName()+')'")
  ul(ng-show="model.showList")
    li(ng-repeat="dog in serverFn.listDog()" ng-bind="dog.name")
