doctype html
html(lang='de')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        base(href='/')
        link(rel="stylesheet", href="/lib/bootstrap/dist/css/bootstrap.css")
    body.pace-done.gray-bg
        div.container
            h2 Container Page
            div(cms-container= 'cats', cms-container-types='Cat,Dog,Wrapper,Carousel', style='width:600px')
            hr
            div(cms-container= 'dogs', cms-container-types='Dog', style='width:600px')
            hr
            div(cms-container= 'users', cms-container-types='User', style='width:600px')
