<div style="padding: 20px">
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-12">Filename:</label>
            <div class="col-sm-12"><input type="text" ng-model="filename"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-12">Select Types:</label>
            <div class="col-sm-12">
                <ui-select data-ng-model="data.types" multiple theme="bootstrap">
                    <ui-select-match placeholder="Choose company">{{$item.name}}</ui-select-match>
                    <ui-select-choices
                            data-repeat="item.value as item in types | filterBy: ['name']: $select.search">
                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </form>
    <br><br>
    <button type="button" class="btn btn-primary submit-button" ng-click="choose()">Choose</button>
    <button type="button" class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>
