<div class="cms-wrapper animated fadeInRight cms-sidebar cms">
    <button type="button" class="btn btn-sm btn-white cms-close-position"
            ng-click="cancel()">
        <i class="fa fa-times"></i>
    </button>

    <br>
    <div class="row">
        <div class="col-xs-3 cms-panel">
            <div class="panel panel-primary">
                <div class="panel-heading">Types</div>
                <div class="panel-body">
                    <div js-tree="treeConfig" ng-model="tree"
                         tree-events="changed:selectNode" tree="treeInstance"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-9 cms-panel">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="cms-admin-right-panel">
                        <label style="color: white"> Show : </label>

                        <ui-select style="min-width: 50px;margin-left: 10px;margin-right: 10px;"
                                   class="cms-select" data-ng-model="page.limit" theme="bootstrap"
                                   on-select="refresh()">
                            <ui-select-match placeholder="">{{$select.selected}}&nbsp;&nbsp;</ui-select-match>
                            <ui-select-choices data-repeat="item in [10,25,50,100,200]">{{item}}</ui-select-choices>
                        </ui-select>

                        <ui-select style="min-width: 60px;margin-left: 10px;margin-right: 10px;"
                                   class="cms-select" data-ng-model="showAs.type" theme="bootstrap"
                                   on-select="refresh()">
                            <ui-select-match placeholder="">
                                {{$select.selected.label}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ui-select-match>
                            <ui-select-choices
                                    data-repeat="item.value as item in [{value:'list',label:'List'},{value:'table',label:'Table'},{value:'element',label:'Element'}]">
                                {{item.label}}
                            </ui-select-choices>
                        </ui-select>

                        <button class="btn btn-white btn-xs" style="margin-right: 10px;"
                                ng-click="deleteAll()">
                            Delete all
                        </button>

                        <button class="btn btn-white btn-xs" style="margin-right: 10px;" ng-click="import()">
                            Import
                        </button>

                        <button class="btn btn-white btn-xs" style="margin-right: 10px;" ng-click="export()">
                            Export
                        </button>

                        <button class="btn btn-white btn-xs" style="margin-right: 10px;"
                                ng-click="setting()">
                            Setting
                        </button>

                        <button class="btn btn-white btn-xs" ng-click="add()">
                            Add
                        </button>

                    </div>

                    <input type="text" class="form-control input-xs"
                           style="margin-left: 10px;width: 100px;display: inline-block;"
                           ng-model="search.text" ng-model-options="{debounce: 300}" placeholder="search ...">

                </div>
                <div class="panel-body" ng-if="node">

                    <div style="width: 100%;overflow-x: auto" ng-if="showAs.type === 'table'">
                        <table class="table cms-admin-table">
                            <thead>
                            <tr>
                                <th ng-repeat="col in node.columns track by $index" ng-bind="col"></th>
                                <th>Edit</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="element in list track by $index">
                                <td ng-repeat="col in node.columns track by $index">
                                <span cms-direct-editable="model.{{col}}"
                                      cms-value="element[col]"
                                      cms-ref="{{element._id}}"
                                      cms-type="{{node.type}}"></span>
                                </td>
                                <td>
                                    <div cms-editor="{ref: element._id, type: node.type}"
                                         cms-remove="remove(element)"></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="cms-panel-list-content" ng-if="showAs.type === 'list'">
                        <div ng-repeat="element in list track by $index"
                             cms-element="{ref: element._id, type: node.type, containers: {}}"
                             dnd-moved="remove(element)"
                             inline="false"></div>
                    </div>

                    <div class="" ng-if="showAs.type === 'element'">
                        <button class="btn cms-btn btn-primary btn-outline btn-xs" style="margin-right: 10px;" ng-repeat="e in list track by $index"
                            ng-click="element._id = e._id; apply()">
                            {{getTitle(node.type, e._id)}}
                        </button>
                        <br><br>

                        <div ng-if="element._id"
                             cms-element="{ref: element._id, type: node.type, containers: {}}"
                             inline="false"></div>
                    </div>

                    <uib-pagination ng-show="page.size > 1" total-items="page.size" ng-model="page.currentPage"
                                    class="pagination-sm"
                                    items-per-page="page.limit"
                                    ng-change="refresh(true)"></uib-pagination>

                </div>
            </div>
        </div>
    </div>

</div>
