<div class="cms-container-panel panel panel-default ui-widget-content"
     ng-show="vm.editState.showContainerEdit"
     style="position: fixed; top: 70px; right: 50px;width: 300px;height: 600px;z-index:1000">
    <div class="panel-heading" style="padding: 0px 0px 0px 10px;height: 26px;cursor: move">
        <div class="panel-title">
            <h5>Edit panel</h5>
        </div>
    </div>
    <div class="panel-body">
        <div js-tree="vm.treeConfig" ng-model="vm.tree"
             tree-events="changed:vm.selectNode" tree="vm.treeInstance"></div>
    </div>
</div>