doctype html
html(lang='de')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        base(href='/')
        link(rel="stylesheet", href="/lib/bootstrap/dist/css/bootstrap.css")
    body.pace-done.gray-bg
        div.container
            div(cms-container= 'buttons', cms-container-types='Layout,PageLayout', style='width:600px')